<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Every post ever written on staticshin</title>
    <meta name="viewport" content="width=device-width; initial-scale = 1.0;" />
    <link href="./style.css" rel="stylesheet"/>
  </head>
  <body>
    {{{header}}}    
    
    <ol class="post">
      {{#render_data}}
      <li>
	<p>
	  {{#urlTag}}<a href="/{{urlTag}}/{{_id}}">{{fields.title}}</a>{{/urlTag}}
	  {{^urlTag}}<a href="/{{_id}}">{{fields.title}}</a>{{/urlTag}} 
	  <small> {{fields.postedOn}}, {{fields.wordCount}} words</small>
	</p>
      </li>
      {{/render_data}}    
    </ol>
    <hr/>
    <footer>
      <h1>Thank you for reading</h1>
    </footer>
    <script src="./staticshin.js"> </script>
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37138783-1']);
      _gaq.push(['_trackPageview']);

      (function ()
      {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
