<header> 
  
  <nav>
    <ul>       
      <li><a href="/">staticshin</a></li>
      <li><a href="/about.html">about</a></li>
      <li><a href="/archives.html">archives</a></li>
      <li title="more" id="more-menu">[...]</li>
    </ul>
  </nav>
  <div class="grid grid-pad nav-grid" style="display:none">
      <div class="col-1-3">
	<h3>Popular Posts</h3>
        <ol>
          <li><a href="/knife-in-the-water">Knife in the water</a></li>
          <li><a href="/understanding-punctuation-in-erlang">Understanding punctuation in erlang</a></li>
          <li><a href="/absurdity-keeler-webwork-and-nis">Absurdity, Keeler, webwork and NIS </a></li>
          <li><a href="/rayman-origins-is-a-silly-little-game">Rayman origins is a silly little game</a></li>
          <li><a href="/dead-man">Dead man</a></li>
        </ol>
      </div>
      <div class="col-1-3"> </div>
      <div class="col-1-3">
      </div>
    </div>
</header>
