<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width; initial-scale = 1.0;" />
    <title>Land ho!</title>
    <link href="./style.css" rel="stylesheet"/>
  </head>
  <body>
    <!-- <header>{<a href="/">staticshin</a>,<a href="/about.html">about</a>,<a href="/archives.html">archives</a>}</header> -->
   {{{header}}}
    {{#hits}}
    <div class="post">
      <h1 class="postHeading"><a href="/{{_id}}">{{fields.title}}</a></h1>
      <div class="postMeta">-{{fields.postedOn}}</div>
      <div>{{{fields.postHtml}}}</div>
      <a href="/{{_id}}">read more</a>
      <hr/>
    </div>
    {{/hits}}	
    
    <footer>
      <h1>Thank you for reading</h1>
    </footer>
  <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37138783-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <script src="./staticshin.js"> </script>
  </body>
</html>
