<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>{{_source.title}}</title>
    <link href="../style.css" rel="stylesheet"/>
  </head>
  <body>
    <h1><a href="/">staticshin</a></h1>
    <div id="post">
      <h1>{{_source.title}}</h1>
      <span>{{_source.postedBy}},  {{_source.postedOn}}</span>
      <div class="postBody">{{{_source.postHtml}}}</div>
    </div>

    <div id="disqus_thread"></div>
    <hr>
    <span>
        <a href="/about.html">about</a>
        <a href="/archives.html">archives</a>
    </span>
    <noscript>
      Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
</div>
<div>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'staticshin'; // required: replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function ()
  {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37138783-1']);
  _gaq.push(['_trackPageview']);

  (function ()
  {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>

</html>
